// FONTS
$poppins-font: 'Poppins', sans-serif;
$quintessential-font: 'Quintessential', cursive;
$source-serif: 'Source Serif 4', sans-serif;

// COLORS
$main-color: #69a5c9;
$darker-main-color: #416a83;
$secondary-color: #fabfd1;
$white-color: #fff;
$black-color: #000;